$white: #FFFFFF;
body {
    font-family: Arial, Helvetica, sans-serif;
}

.header{
    top: 0;
    height: 20px;
    width: 100%;
    position: fixed;
    background-color: $white;
    padding: 1rem;
}
.header__button{
    background-color: $white;
    color: #000000;
    border: 2px solid rgb(129, 129, 129);
    height: 30px;
}

.header__search{
    height: 25px;
    width: 190px;
}
.header__button--blue{
    color: #8491F9;
    background-color: $white;
    border: $white;
    position: fixed;
    right: 0;
    font-size: 30px; 
}

div.userlist{

    margin-top: 70px;
    margin-bottom: 70px;
}
div.user{
    display: flex;
    margin: 5%;
    width: 85%;
    border-style: outset;
    border-right-color: $white;
    border-left-color: $white;
    font-size: 10px;
}

ul {
    position: fixed;
    list-style-type: none;
    width: auto;
    right: 0;
    color: #8491F9;
}
li:hover{
    color: #D3DAE5;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: $white;
}
.modal__button {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
}
.info{
    margin-top: 20%;
}

footer{
    background-color: $white;
    position: fixed;
    height: 25px;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    border: $white;
    border-left-color: $white;
    text-align: center;
}
.footer__button{
    margin-right: 30px;
    font-size: 30px;
    background-color: $white;
    border: $white;
    color: #d3d3d3;
}
.footer__button:hover{
    color: #8491F9;
}